{% extends 'base.html' %}
{% block title %} Xiva IT Center {% endblock %}
{% block content %}

    <!-- showcase start -->
    <div class="showcase">
        <div class="container">
            <div id="particles-js"></div>
            <div class="content active">
                <div>
                    <h1>Xiva</h1><br>
                    <span>IT Center</span>
                    <p>Agar saytimizga kirgan ekansan, demak sen eng toʻgʻri yoʻldasan. Biz senga IT koʻnikmalarini egallash, malakangni oshirish va hatto daromad qilishingga yordam beramiz!</p>
                    <a href="/form">Online Anketa</a>
                </div>
            </div>
            <div class="content">
                <div>
                    <h1>Coworking</h1><br>
                    <span>Maydoni</span>
                    <p>IT EDUCATION IT ga yoʻlni bizning IT-taʼlimdan boshla! IT koʻnikmalarini egallashni, malakangizni oshirishni, moʻmay daromad qilishni yoki IT sohasida ingliz tilini oʻrganishni istaysizmi? Biz sizga yordam beramiz!</p>
                    <a href="/about">Biz haqimizda</a>
                </div>
            </div>
            <div class="content">
                <div>
                <h1>Bizning</h1><br>
                <span>Markaz</span>
                <p>IT Markazimiz o‘zida axborot texnologiyalari sohasida ta’lim va kadrlar tayyorlash kurslarini tashkil etish uchun infratuzilma yechimlarini aks ettiradi. Markazimiz internet tarmog‘iga ulangan va 24/7 rejimida ishlaydi.</p>
                <a href="https://education.it-park.uz/uz/">Batafsil</a>
                </div>
            </div>
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="slider-navigation">
                <div class="nav-btn active"></div>
                <div class="nav-btn"></div>
                <div class="nav-btn"></div>
            </div>
        </div>
    </div>
    <!-- showcase end -->
{% endblock %}